@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hover-nav {
        @apply p-4 transition-all hover:text-[#00df9a] hover:font-bold cursor-pointer;
    }
    .card {
        @apply h-96 m-4 border-2 border-[#00df9a] rounded-md text-center p-2  bg-gray-500/10 shadow-xl hover:shadow-2xl transition hover:scale-[1.05] hover:bg-gray-700;
    }
    .card-title{
      @apply text-white text-2xl border-b-[0.2px];
    }
    .card-description{
      @apply text-gray-200 pt-4 md:text-lg sm:text-base text-sm;
    }
    .card-button{
      @apply bg-[#00df9a] w-[200px] rounded-md font-medium my-6 mx-auto py-4 text-black transition-all ease-linear duration-[450ms] hover:bg-[#6effd1];
    }
}

body {
    background-color: #000300;
}
